# ======================
# Python bytecode
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual environments
# ======================
venv/
.venv/
env/
.env/
ENV/
virtualenv/

# ======================
# Distribution / packaging
# ======================
build/
dist/
*.egg-info/
.eggs/

# ======================
# Pytest / coverage
# ======================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ======================
# Logs
# ======================
*.log

# ======================
# Other
# ======================

# Do not publish copyrighted images to GitHub (https://www.researchgate.net/figure/Twenty-one-anatomical-landmarks-detected-by-MediaPipe-hands-are-illustratedOne_fig5_380819368)
Twenty-one-anatomical-landmarks-detected-by-MediaPipe-hands-are-illustratedOne.png